<div class="create_reading">
  <% if @user_book %>
    <%= render 'shared/update_reading' %>
  <% else %>
    <%= link_to "Reading", book_user_books_path(@book, 
      reading: 1), method: :post, remote: true, class: "btn" %>
  <% end %>
</div>