<div class="update_reading">
  <% if @user_book.reading? %>
    <%= link_to "Read", book_user_books_path(@book, id: @book.id, 
      read: 1), method: :put, remote: true, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Reading", book_user_books_path(@book, id: @book.id, 
      reading: 1), method: :put, remote: true, class: "btn" %>
  <% end %>
</div>