@import "bootstrap-sprockets";
@import "bootstrap";
@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");
body {
  padding-top: px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 4px;
  margin: 10px auto 10px auto;
  margin-bottom: 10px;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
h7 {
  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 4px;
  margin: 10px auto 10px auto;
  margin-bottom: 10px;
  text-align: left;
  color:  #2F4F4F;
}
p {
  font-size: 2em;
  line-height: 1.7em;
  color: #2F4F4F;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: "Times New Roman", Times, serif;
  color: #331a00;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
color: #FF4500;
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;

}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }


 * {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.navbar-inverse {
    background-color: #f8f8f8;
    border-color: #090909;
}
.btn-search {
    background: #424242;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #1c1c1c;
  }
  .btn-search:link, .btn-search:visited {
    color: #fff;
  }
  .btn-search:active, .btn-search:hover {
    background: #1c1c1c;
    color: #fff;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

p1 {
  font-size: 1.5em;
  line-height: 1.7em;
  color: #2F4F4F;
}
.rating-stars {
  width: 100%;
  text-align: center;
}

.rating-stars .rating-stars-container {
  font-size: 0px;
}

.rating-stars .rating-stars-container .rating-star {
  display: inline-block;
  font-size: 32px;
  color: #555555;
  cursor: pointer;
  padding: 5px 10px;
}

.rating-stars .rating-stars-container .rating-star.is--active,
.rating-stars .rating-stars-container .rating-star.is--hover {
  color: #f1c40f;
}

.rating-stars .rating-stars-container .rating-star.is--no-hover {
  color: #555555;
}

