<p id="notice"><%= notice %></p>

<p>
  <strong>Action type:</strong>
  <%= @activity.action_type %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
